.header{
      display: flex;
      height: 70px;
      width: 100%;
      justify-content: space-between;
      margin-bottom:25px;

      .logo-container{
            height: 25% !important;
            width: 70px;
        

      }
      .options{
            display: flex;
            align-items: center;
            margin:24px;
            justify-content: flex-end;
            .option{
                  padding: 10px 15px
            }
      }
    

}